<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/components/navbar.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <aside class="navbar">
        <nav class="header">
            <div class="logo">
                <img src="../assets/logo.png" alt="logo">
            </div>
            <div class="header-direita">
                <div class="header-titulo">
                    Indicadores Internos
                </div>
                <nav class="header-menu">
                    <a href="">Dashboard</a>
                    <a href="">Relatórios</a>
                    <a href="">Configurações</a>
                </nav>
            </div>
        </nav>
    </aside>
</body>
</html>