<aside>
    <div>
        <h1>&#128202; Relatórios</h1>
        <h2>Agrícola</h2>
        <div class="itens">
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
        </div>  
        <h2>Automotiva</h2>  
        <div class="itens">
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
            <div>
                <p class="item">Teste1</p>
            </div>
        </div> 
    </div>
</aside>
