<aside>
    <div>
        <h1>&#128203; Conferências</h1>
        <h2>Agrícola</h2>
        <div class="itens">
            <div class="item">
                <p class="tituloitem">Consumo CTT</p>
                <p class="descricaoitem">Dashboard que monitora o consumo do CTT</p>
                <a class="linkitem" href="https://www.ilovepdf.com/pt">&#128203;</a>
            </div>
            <div class="item">
                <p class="tituloitem">Consumo CTT</p>
                <p class="descricaoitem">Dashboard que monitora o consumo do CTT</p>
                <a class="linkitem" href="https://www.ilovepdf.com/pt">&#128203;</a>
            </div>

        </div>  
        <h2>Automotiva</h2>  
        <div class="itens">
            <div class="item">
                <p class="tituloitem">Consumo CTT</p>
                <p class="descricaoitem">Dashboard que monitora o consumo do CTT</p>
                <a class="linkitem" href="https://www.ilovepdf.com/pt">&#128203;</a>
            </div>
        </div> 
    </div>
</aside>