<aside class="sidebar">
<nav class="menu">
    <h2><a href="../pages/menu.html" target="_self" rel="prev">📊 Dashboard BI</a></h2>
    <div class="pasta">
        <div class="setor">Agrícola</div>
            <ul class="indicador">
                <li>Desempenho Colheita</li>
                <li>Qualidade Colheita</li>
                <li>Consumo CTT</li>
            </ul>
    </div>
    <div class="pasta">
        <div class="setor">Automotiva</div>
            <ul class="indicador">
                <li>Consumo Veículos</li>
                <li>Manutenção Oficina</li>
            </ul>
    </div>

</nav>
</aside>